{% include 'header.html' %}
<div style="background-image:url({{url_for('static',filename='images/foto3.jpg')}}); background-size:cover; background-color:#DCDCDC; background-position: center; background-blend-mode:screen; min-height: 100vh">
  <form method="post" action="/add" class="update_section">
    <h1 class="title"> Please Add a New Cafe</h1>
    {% if msg == "" %}
      <div>
        <div class="col-25">
            <label class="form-label update_label">Cafe's name:</label>
            <label class="form-label update_label">Cafe's map's url:</label>
            <label class="form-label update_label">Cafe's image's url:</label>
            <label class="form-label update_label">Cafe's location:</label>
            <label class="form-label update_label">Cafe's number of seats:</label>
            <label class="form-label update_label">Cafe's bathroom's availability:</label>
            <label class="form-label update_label">Cafe's WiFi availability:</label>
            <label class="form-label update_label">Cafe's electrical plugs availability:</label>
            <label class="form-label update_label">Can calls be taken at cafe:</label>
            <label class="form-label update_label">Coffee price:</label>
        </div>
        <div class="col-75">
          <input type="text" name="nombre" class="form-control" placeholder="Cafe's name" required/>
          <input type="text" name="mapa" class="form-control" placeholder="Map url" required/>
          <input type="text" name="imagen" class="form-control" placeholder="Image url" required/>
          <input type="text" name="location" class="form-control" placeholder="Cafe's location" required/>
          <input type="text" name="seats" class="form-control" placeholder="Number of seats" required/>
          <input type="text" name="toilet" class="form-control" placeholder='Yes or No' required />
          <input type="text" name="wifi" class="form-control" placeholder='Yes or No' required/>
          <input type="text" name="sockets" class="form-control" placeholder='Yes or No' required/>
          <input type="text" name="calls" class="form-control" placeholder='Yes or No' required/>
          <input type="text" name="price" class="form-control" placeholder="Price" required/>
        </div>
      </div>
      <div class="form-outline">
         <label class="form-label" for="clave"> Type one word answer to add new cafe!</label>
          <h2 class="update_question">{{ rd }}</h2>
          <br>
          <input type="text" name="clave" class="form-control delete_input" required/>
          <br>
          <button type="submit" class="btn btn-primary"  style="top-margin: 100px">Add</button>
      </div>
    {% else: %}
      <br>
      <h2> {{msg }}</h2>
      <br>
      <a href="{{ url_for('home') }}" class="btn btn-primary">Go home</a>
    {% endif %}
  </form>
</div>

{% include 'footer.html' %}